<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="styles.css">
    <title>Face Recognition Upload</title>
</head>

<body>
    <div class="upload">
        <h2>Upload an Image for Face Recognition</h2>
        <form id="upload-form" action="javascript:void(0);" enctype="multipart/form-data">
            <input type="file" id="image-file" name="image" accept="image/*" required>
            <br>
            <button type="button" id="submit-button">Upload Image</button>
        </form>
        <div id="progress-container" style="display: none;">
            <div id="progress-bar"></div>
        </div>

        <div id="result"></div>
        

        <!-- Preview Section -->
        <div id="preview-container">
            <div class="image-container">
                <h3>Uploaded Image</h3>
                <img id="image-preview" src="" alt="Uploaded Image" style="display:none;">
            </div>

            <div class="image-container">
                <h3>Matched Image</h3>
                <img id="matched-image" src="" alt="Matched Image" style="display:none;">
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>
