body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
    background-color: #f4f4f9;
    margin: 0;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.upload {
    margin-top: 20px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: rgb(63, 182, 63);
    padding: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(151, 236, 24);
}

input {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#preview-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container {
    width: 45%;
    margin: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#progress-container {
    width: 100%;
    background-color: #f3f3f3;
    height: 10px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.4s;
}

